<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LidarrFusion.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LidarrFusion.My.MySettings>
            <setting name="LidarrAPIURL" serializeAs="String">
                <value />
            </setting>
            <setting name="LidarrAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="rootpath" serializeAs="String">
                <value />
            </setting>
            <setting name="firstrun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ytdlp" serializeAs="String">
                <value />
            </setting>
            <setting name="ffmpeg" serializeAs="String">
                <value />
            </setting>
            <setting name="ffprobe" serializeAs="String">
                <value />
            </setting>
            <setting name="ffplay" serializeAs="String">
                <value />
            </setting>
            <setting name="ytpp" serializeAs="String">
                <value />
            </setting>
            <setting name="skipexist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="intervent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="skipyoutube" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="youtubemusic" serializeAs="String">
                <value>False</value>
            </setting>
        </LidarrFusion.My.MySettings>
    </userSettings>
</configuration>
